/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

/* Estilos para la sección del total */
#total {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

/* Estilos para el botón de mostrar/ocultar ingresos */
#toggle-transactions {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para ocultar la lista de ingresos por defecto */
#transaction-list.hidden {
    display: none;
}

/* Estilos para la lista de ingresos */
#transaction-list {
    list-style-type: none;
    padding: 0;
    width: 65%;
}

#transaction-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
